.hide{
 display:none
}

.pagInicio{
    width:500px;
    height: 600px; 
    border: 2px solid rgb(172, 49, 141)
    
}
main{
    background-color: rgb(225, 230, 167);
    width: 515px;
    height: 620px;
    justify-content: center;
}
img{
    width:80px;
    height: 50px;
    margin: 2px;
    object-fit: fill;
    border-radius: 5%;
    cursor: pointer
}

img:hover{
    background-color: rgb(110, 46, 67);
}
footer{
   font-size: 12px;
   text-align: center;
}
