*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* CCS para el encabezado: logo y barra de navegación (menú)*/
header{
  background-color: rgba(41, 157, 165, 0.945);
  width: 100%;
  height:70px;
  padding: 0px 20px;
  display: flex;
}
h1{
  float:left ;
  margin: 15px 15px;
  display: flex;
  align-items: center;
  font-style: oblique;
  font-family :'Courier New', Courier, monospace;
  font-size: 35px; 
  /* background: linear-gradient(105deg, rgb(144, 211, 202) 39%, rgb(80, 97, 100) 96%); */
}
h1>img{
  margin: 15px 15px;
  width:70px;
  height: 70px;
  
}
.itemsB{
  max-width: 100%;
  margin:auto;
  height:100%;
  float:right;
  display: flex;
}
nav > ul{
  height:100%;
  display: flex;
  
}
nav > ul > li{
  height:100%;
  list-style: none;
  position: relative;
  align-items: center;
  padding: 14px;
  text-transform: uppercase;
  color: aliceblue;
  display: flex;
  width: auto;
  transition: all 150ms ease;
  font-size: 16px;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
nav > ul > li:hover{
  background-color:rgb(31, 88, 105) ;
  transform: scale(1.1);
  border-radius: 5%;
}
/*CSS para la sección 1*/
.section1{
  display: auto;
  background-image: url(./assets/portal-principal/fondos-pagInicial/fondo-seccion1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.section1>h1{
  align-content: center;
}
.section1>p{
  display: flex;
  align-content: center;
}
.section1>img{
  height:400px;
  width: 500px;
  align-content: center ;
  position: right;
}
.section1
/*CSS para la sección 2*/




.hide{
 display: none;
}
.validCard{
   color: rgb(5, 77, 5);

}
.invalidCard{
   color: rgba(122, 7, 7, 0.925) ;
}
 h1{
    justify-content: center;
}
.pagInicio{
    width:500px;
    height: 600px; 
    border: 2px solid rgba(153, 245, 245, 0.623);
    background-color: rgb(162, 223, 215);
    border-radius: 5%;
    align-items: center;
    position: relative;
    margin: auto;
}
/* main{
    background-color: rgb(225, 230, 167);
    width: 515px;
    height: 620px;
    justify-content: center;
} */
nav>img{
    width:80px;
    height: 50px;
    margin: 2px;
    object-fit: fill;
    border-radius: 5%;
    cursor: pointer;
}

 nav>img:hover{
    border: 3px solid rgb(172, 49, 141);
    /* background-color: rgb(110, 46, 67); */
}
footer{
   font-size: 12px;
   text-align: center;
}

/* body{
background-image : url(./assets/background.jpg);
background-size: cover;
background-repeat:no-repeat ;

} */
.pagVisa{
  width: 90%;
  max-width: 1000px;  
  padding: 40px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.visaCardDesign{
  width: 100%;
  max-width: 550px;
  position: relative; 
  border-radius: 15px;
  background-image: url(./assets/Fondos-de-tarjeta/Back-visaC.jpg);
  
}
#chip-silver{
  width: 80px;
  height:50px ;
  border-radius: 5px;
  text-align: right;
}
section>p{
    font-size: 20px;
    font-weight: 100;
    color: white ;
    margin: 20px;
}
#logo-visa{
  width: 150px;
  height:100px;
  /* //object-fit: cover; */
  /* max-width: 80px; */
  text-align: left;
}